.todo{
    width: 75%;
    margin-left: -22%;
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    padding: 5px;
    margin-bottom: 3%;
    border-radius: 10px;
    font-size: 30px;
    background-color: white;
}
.todolist{
    margin-left: 40%;
    align-items: center;
}

.input{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 35%;
}
.btn{
    font-size: 23px;
    font-weight: bolder;
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2%;
}

.checkbox{
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
}
.striked{
    text-decoration: line-through;
    background-color: rgb(151, 255, 151);
    width: 100%;
}